<div class="footer">
  <footer class="bg-light text-center">
    <div class="footer-copyright text-center py-3">
      © 2022 Copyright:
      <a href="#">Nobleman-TY</a>
      <br />
      <a href="mailto:noblemanunachukwu@gmail.com">Send an email</a>
    </div>
  </footer>
</div>
