<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./Partials/head.ejs"); %>
  </head>
  <body>
    <header><%- include("./Partials/navbar.ejs"); %></header>
    <main>
      <h1>Home-Page</h1>
      <p>
        Chuck Norris is the only man to ever defeat a brick wall in a game of
        tennis. Chuck Norris invented Kentucky Fried Chicken's famous secret
        recipe, with eleven herbs and spices. But nobody ever mentions the
        twelfth ingredient: Fear Chuck Norris has two speeds. Walk, and Kill.
        Chuck Norris doesn't read books. He stares them down until he gets the
        information he wants. Chuck Norris does not sleep. He waits. Police
        label anyone attacking Chuck Norris as a Code 45-11... a suicide Someone
        once videotaped Chuck Norris getting pissed off. It was called Walker:
        Texas Chain Saw Massacre. Chuck Norris does not get frostbite. Chuck
        Norris bites frost. Police label anyone attacking Chuck Norris as a Code
        45-11... a suicide.
      </p>
    </main>
    <%- include("./Partials/footer.ejs"); %>
  </body>
</html>
