<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./Partials/head.ejs"); %>
  </head>
  <body>
    <header><%- include("./Partials/navbar.ejs"); %></header>
    <main>
      <h1>Our Services</h1>
      <p>
        Oh. You need a little dummy text for your mockup? How quaint. I bet
        you’re still using Bootstrap too…Freegan before they sold out poke
        taxidermy, pop-up vaporware vegan pinterest. Messenger bag pitchfork la
        croix gluten-free. Activated charcoal vexillologist iPhone, man braid
        bespoke tote bag kogi man bun adaptogen sustainable ethical
        intelligentsia vape. Tumblr sriracha umami, slow-carb typewriter celiac
        quinoa ethical keytar poke cloud bread hexagon kitsch tbh organic.
      </p>
    </main>
    <%- include("./Partials/footer.ejs"); %>
  </body>
</html>
